.total {
    margin-top: 10px;
}
.payment-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #213c69;
    padding: 10px 15px;
}
.shoppingcart-container {
    border: 2px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.item-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 15px auto;
    margin-bottom: 10px;
}
.image-container {
    width: 150px;
}
.item-image {
    width: 100%;
}
.qty-delete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart-text {
    margin-left: 10%;
    font-family: Lato;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.text-container {
    margin-left: 20px;
    width: 300px;
}
.last-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
@media only screen and (min-width: 500px) {
    .main-container {
        width: 60%;
        margin: 10px auto;
        height: 85vh;
    }
    .text-container {
        font-family: Lato;
        font-size: 20px;
    }
    .last-container {
        font-size: 24px;
        font-family: Lato;
    }
    .item-container {
        justify-content: space-around;
    }
}
