#reviews {
    background-color: #000000;
}
.details-addtocart-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #213c69;
    padding: 5px 15px;
    font-family: Lato;
}
.details-addtocart-button-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.details-menu {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.details-menu-button {
    text-decoration: none;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #213c69;
    font-family: Lato;
}
.details-text-container {
    width: 80%;
    margin: 0 auto;
}
.details-text-title {
    font-size: 24px;
    font-family: Lato;
}
.details-text-subtitle {
    font-size: 20px;
    margin: 5px 0;
    font-family: Lato;
}
.details-text {
    font-size: 16px;
    font-family: Raleway;
    margin-bottom: 10px;
}
.form-container {
    margin-top: 15px;
    border: 2px solid black;
}
.reviews-text-container {
    width: 80%;
    margin: 0 auto;
}
.submit-button {
    padding: 7px 15px;
}
@media only screen and (min-width: 500px) {
    .main-container {
        margin: 0 auto;
    }
    .product-details-image-container {
        text-align: center;
    }
    .reviews-text-container {
        width:60%;
        margin-bottom: 20px;
    }
}
